<p>medecins works!</p>
<app-navbar></app-navbar>
<h2>Les médecins</h2>

<nav class="navbar navbar-inverse" [hidden]="estCacheMenu">
  <ul class="nav navbar-nav" style="display:flex; flex-direction:row; justify-content: center">
    <li><a (click)="derniersRapports()">Derniers rapports</a></li>
    <li><a (click)="majMedecin()">MAJ</a></li>    
  </ul>
</nav>

<div class="col-lg-6">
  <div class="form-group">
    <input type="search" class="form-control" placeholder="Nom du médecin..." [(ngModel)]="nomMedecin" (keyup)="charger()" />
  </div>
</div>


<div class ="list-group">
    <ul>
        <li class="list-group-item" *ngFor="let medecin of lesMedecins" (click)="selectionner(medecin)">
            {{medecin.nom}} {{medecin.prenom}} ;dep : {{medecin.departement}}
        </li>
    </ul>
</div>

<table class="table table-bordered" >
  <thead>
    <tr>
      <th>Date</th>
      <th>Motif</th>
      <th>Bilan</th>
      <th>Nom du visiteur</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rapport of lesRapports">
      <td>{{ rapport.date }}</td>
      <td>{{ rapport.motif }}</td>
      <td>{{ rapport.bilan }}</td>
      <td>{{ rapport.nomvisiteur }}</td>
    </tr>
  </tbody>
</table>
