/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  /* Styles pour le conteneur principal */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Styles pour le formulaire */
  form {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    align-items:center;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles pour les titres */
  h1, h2, h3 {
    color: #008cba;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Styles pour les champs de saisie */
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  /* Styles pour le bouton de soumission */
  input[type="submit"] {
    background-color: #008cba;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Styles pour les messages d'erreur */
  .alert-danger {
    display: none;
    color: #d9534f;
    margin-top: 10px;
    text-align: center;
  }